body{
    background-color: rgb(179, 165, 146);
}
.card{
    background-color: cornflowerblue;
    border-radius: 20px;
    width: 30%;
    margin-bottom: 20px;
    font-size: medium;
    transition-duration: 0.9s;
    height: 500px;
    text-align: center;
    box-shadow: 0px 0px 30px dodgerblue;
    
    
}


#inp{
    position: relative;
    right: -112px;
    top: 67px;
    scale: 180%; 
    transition-duration: 0.9s;
    border-radius: 50px;
    
     
}
#inp3{
    position: relative;
    right: -32px;
    top: 280px;
    scale: 180%; 
    transition-duration: 0.9s;
    border-radius: 50px;
    
     
}
#inp2{
    position: relative;
    right: 55px;
    top: 127px;
    scale: 180%; 
    transition-duration: 0.9s;
    border-radius: 50px;
    
     
}
#inp:hover{
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.24);
    scale: 182%;

}
#inp3:hover{
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.24);
    scale: 182%;
}
#inp2:hover{
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.24);
    scale: 182%;
    

}
#inp_click{
    position: relative;
    top: 220px;
    left: -170px;
    background-color: black;
    color: azure;
    transition-duration: 0.9s;
    border-radius: 20px;
    scale: 180%;
    border-color:aqua;    
    border : 100%;

}


#inp_click:hover{
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.24);
    scale: 182%;
    color: aqua;
}


input{

    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);

}
button{
    scale: 120%; 
}

#reset{
    position: relative;
    top: 199px;
    left: -200px;
    background-color: black;
    color: rgb(255, 255, 255);
    transition-duration: 0.9s;
    border-radius: 20px;
    scale: 180%;
    border-color:rgb(0, 255, 21);    
    border : 100%;
    
}
#reset:hover{
    color: chartreuse;
    scale: 182%;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.24);
}

